.notfound__container {
    padding: 9rem 0;
    text-align: center;


}

.notfound__container h2 {
    font-size: 5rem;
}

.notfound__container h3 {
    font-size: 3rem;
}

.notfound__container p {
    margin: 2rem 0;
}